<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="FarnellKey" value=""/>
		<add key="FarnellStore" value="pt.farnell.com"/>
		<add key="FarnellClientID" value=""/>
		
		<add key="TmeToken" value=""/>
		<add key="TmeSecret" value=""/>
		<add key="TmeCountry" value="PT"/>
		<add key="TmeLang" value="EN"/>
		<add key="TmeCurr" value="EUR"/>


		<add key="MouserKey" value=""/>
		<add key="MouserURL" value="https://api.mouser.com"/>
		<add key="MouserURLVersion" value="1"/>

		
		<add key="DigikeyClient_id" value=""/>
		<add key="DigikeyClient_secret" value=""/>
		<add key="DigikeyCallback_url" value="https://localhost:8139/digikey_callback"/>
		<add key="DigikeySiteLocation" value="PT"/>
		<add key="DigikeyLanguage" value="PT"/>
		<add key="DigikeyCurrency" value="en"/>


	</appSettings>
</configuration>